{% extends 'base.html' %}

{% block header_text %}{{ first_name }} {{ last_name }}: Enter your picks{% endblock %}

{% block pagebody %}
        {% if game_4_open %}
           <form method="POST" action="/picks/update_picks">
            <div class=col-md-12">
            {% if game_1_open %}
              <select id="select_game_1" name='game_1_team'>
                <option value="0"{% if pick_set.round_1_game_1_team == 0 %} selected="selected"{% endif %}>Colts</option>
                <option value="1"{% if pick_set.round_1_game_1_team == 1 %} selected="selected"{% endif %}>Texans</option>
              </select>
              <input type="number" id="game_1" name="game_1_pick" min="1" value="{{ pick_set.round_1_game_1 }}"/>
              <p>3:35 CST Saturday, January 5, NBC</p>
            {% else %}
              <p>Picks can no longer be changed for the Colts-Texans game</p>
            {% endif %}
            </div>
            <div class=col-md-12">
            {% if game_2_open %}
              <select id="select_game_2" name='game_2_team'>
                <option value="0"{% if pick_set.round_1_game_2_team == 0 %} selected="selected"{% endif %}>Seahawks</option>
                <option value="1"{% if pick_set.round_1_game_2_team == 1 %} selected="selected"{% endif %}>Cowboys</option>
              </select>
              <input type="number" id="game_2" name="game_2_pick" min="1" value="{{ pick_set.round_1_game_2 }}"/>
              <p>7:15 CST Saturday, January 5, FOX</p>
            {% else %}
              <p>Picks can no longer be changed for the Seahawks-Cowboys game</p>
            {% endif %}
            </div>
            <div class=col-md-12">
            {% if game_3_open %}
              <select id="select_game_3" name='game_3_team'>
                <option value="0"{% if pick_set.round_1_game_3_team == 0 %} selected="selected"{% endif %}>Chargers</option>
                <option value="1"{% if pick_set.round_1_game_3_team == 1 %} selected="selected"{% endif %}>Ravens</option>
              </select>
              <input type="number" id="game_3" name="game_3_pick" min="1" value="{{ pick_set.round_1_game_3 }}"/>
              <p>12:05 CST Sunday, January 6, CBS</p>
            {% else %}
              <p>Picks can no longer be changed for the Seahawks-Cowboys game</p>
            {% endif %}
            </div>
            <div class=col-md-12">
              <select id="select_game_4" name='game_4_team'>
                <option value="0"{% if pick_set.round_1_game_4_team == 0 %} selected="selected"{% endif %}>Eagles</option>
                <option value="1"{% if pick_set.round_1_game_4_team == 1 %} selected="selected"{% endif %}>Bears</option>
              </select>
              <input type="number" id="game_4" name="game_4_pick" min="1" value="{{ pick_set.round_1_game_4 }}"/>
              <p>3:35 CST Sunday, January 6, ESPN</p>
            </div>
            <br/>
            <input type="submit" value="Submit picks"/>
            {% csrf_token %}
          </form>
        {% else %}
          <p>All games have started. Picks can no longer be changed</p>
        {% endif %}
          <br/>
    <form method="GET" action="/picks/">
      <input type="submit" id="view_picks" value="Return to my picks without submitting"/>
    </form>
{% if user.is_authenticated %}
    <br/>
    <form method="GET" action="{% url 'logout' %}">
      <input type="submit" id="logout" value="Logout"/>
    </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
