{% extends 'base.html' %}

{% block header_text %}Welcome!{% endblock %}

{% block pagebody %}
{% if game_1_started %}
<p>Thank you for your interest in the 2019 Playoff Pool beta test.</p>
<p>The first Wild Card week game has started, so no further entries may be added.</p>
<p>Check this site again on Monday to enter the actual Playoff Pool.</p>
{% else %}
<p>This is a beta test for the new online version of the NFL Playoff Pool</p>
<p>This test covers the Wild Card weekend games that we do not use in the actual pool. You can participate in the beta test at no cost and with no obligation to join the real pool next week.</p>
<p>Pick the winner and margin of victory for each game. The goal is to get as close as possible to the actual outcomes, thus to have the lowest score.</p>
<p>Send feedback to thayosh@gmail.com</p>
{% if user.is_authenticated %}
{% else %}
    <form method="GET" action="signup/">
      <input type="submit" id="signup" value="Click here to sign up"/>
    </form>
{% endif %}
<br/>
{% endif %}
{% if user.is_authenticated %}
          <br/>
    <form method="GET" action="/picks/results/">
      <input type="submit" id="view_results" value="View Results"/>
    </form>
    <br/>
    <form method="GET" action="/picks/">
      <input type="submit" id="view_picks" value="Go to my picks"/>
    </form>
    <br/>
    <form method="GET" action="{% url 'logout' %}">
      <input type="submit" id="logout" value="Logout"/>
    </form>
{% else %}
    <form method="GET" action="accounts/login/">
      <input type="submit" id="login" value="Click here to log in"/>
    </form>
{% endif %}
{% endblock %}
