{% extends 'base.html' %}

{% block header_text %}Your picks{% endblock %}

{% block form_action %}/picks/{{ pick_set.id }}/update_picks{% endblock %}

{% block table %}
    <table id="id_picks">
      <tr>
        <td>Game 1: {{ pick_set.round_1_game_1 }}</td>
      </tr>
      <tr>
        <td>Game 2: {{ pick_set.round_1_game_2 }}</td>
      </tr>
      <tr>
        <td>Game 3: {{ pick_set.round_1_game_3 }}</td>
      </tr>
      <tr>
        <td>Game 4: {{ pick_set.round_1_game_4 }}</td>
      </tr>
    </table>

    <form method="GET" action="/picks/{{ pick_set.id }}/edit/">
      <input type="submit" id="edit_picks" value="Edit Picks"/>
    </form>
{% endblock %}
