{% extends 'base.html' %}

{% block header_text %}{{ first_name }} {{ last_name }}'s picks{% endblock %}

{% block form_action %}/picks/{{ pick_set.id }}/update_picks{% endblock %}

{% block pagebody %}
  <ul id="picks_list" class="list-group">
    <li id="pick_1" class="list-group-item">
      <p>
        {% if pick_set.round_1_game_1_team == 1 %}<b>Texans</b>{% else %}<b>Colts</b>{% endif %} by
        <b>{{ pick_set.round_1_game_1 }}</b>
      </p>
      <p>3:35 CST Saturday, January 5, NBC</p>
    </li>
    <li id="pick_2" class="list-group-item">
      <p>
        {% if pick_set.round_1_game_2_team == 1 %}<b>Cowboys</b>{% else %}<b>Seahawks</b>{% endif %} by
        <b>{{ pick_set.round_1_game_2 }}</b>
      </p>
      <p>7:15 CST Saturday, January 5, FOX</p>
    </li>
    <li id="pick_3" class="list-group-item">
      <p>
        {% if pick_set.round_1_game_3_team == 1 %}<b>Ravens</b>{% else %}<b>Chargers</b>{% endif %} by
        <b>{{ pick_set.round_1_game_3 }}</b>
      </p>
      <p>12:05 CST Sunday, January 6, CBS</p>
    </li>
    <li id="pick_4" class="list-group-item">
      <p>
        {% if pick_set.round_1_game_4_team == 1 %}<b>Bears</b>{% else %}<b>Eagles</b>{% endif %} by
        <b>{{ pick_set.round_1_game_4 }}</b>
      </p>
        <p>3:35 CST Sunday, January 6, ESPN</p>
    </li>
    <br/>
    <form method="GET" action="/picks/edit/">
      <input type="submit" id="edit_picks" value="Edit Picks"/>
    </form>
    <br/>
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
    <!--
    <a href="mailto:thayosh@gmail.com?subject=Playoff%20Pool%20Feedback%20from%20picks%20page">Send feedback</a>
    -->
  </ul>
{% endblock %}
